br { clear:left }

.menu {
    width: 100%;
    background-color: #B31B1B;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.menu li {
    display: inline;
}

.menu a {
    float: left; 
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color:  #B31B1B;
}
 
.menu a:visited {
    color: white;
}
 
.menu a:hover {
    color: white;
    background-color: #41D941;
}
.menu li {
    color: white;
    background-color: #41D941;
}
.body{
    background: url(../img/edu5.jpg)
    no-repeat fixed bottom right transparent;
}
#welcome{
  color: white;
  position: relative;
  padding-left: 30px;
  font-size: 50px;
}
#website{
  color: white;
  position: relative;
  padding-left: 100px;
  font-size: 50px;
}
#Hi{
  position: relative;
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  color: white;
}
#Hi a:visited{
  color: white;
}
.body a{
  color: white;
}